body{
    color: #333333;
    font-family: arial;
    font-size: large;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px; 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: url(../img/forecast.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

div {
    flex-grow: 1;
    text-align: center;
}

div > p{
    text-align: justify;
}

div > a {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px;
    text-align: center;
}


footer{
    color: black;
    border-top: 1px solid #eeeeee;
    padding: 16px 0;
    text-align: center;
    margin-top: 16px;
}

header{
    margin-top: 16px;
    margin-bottom: 48px;
}

h1{
    font-size:64px;
    margin-bottom: 16px;
}

header a {
    color: black;
    margin-right: 16px;
    text-decoration: none;
}

.portrait{
    width: 250px;
}

input {
    border: 1px solid #cccccc;
    padding: 8px;
    width: 50%;
    
}

button {
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 8px;
}

div > p {
    text-align: justify;
}